name: Terraform Plan

on:
  pull_request:
    paths:
      - '**/*.tf'
      - '.github/workflows/**'

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials from OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::030109183991:role/GitHubTerraformRole
          aws-region: ap-southeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0
      - name: Terraform Init
        run: terraform -chdir=environments/dev init -input=false

      - name: Terraform Validate
        run: terraform -chdir=environments/dev validate

      - name: Terraform Plan
        run: terraform -chdir=environments/dev plan -no-color
